@import "tailwindcss";

:root {
	--text-color: var(--color-zinc-950);
	--muted-text-color: var(--color-zinc-800);

	--background-color: var(--color-zinc-100);
	--surface-color: var(--color-zinc-300);
	--popover-color: var(--color-zinc-300);

	--primary-color: var(--color-emerald-600);
	--primary-hover-color: var(--color-emerald-700);
	--secondary-color: var(--color-zinc-400);
	--secondary-popover-color: var(--color-zinc-300);
	--secondary-hover-color: var(--color-zinc-500);

	@media (prefers-color-scheme: dark) {
		--text-color: var(--color-zinc-100);
		--muted-text-color: var(--color-zinc-400);

		--background-color: var(--color-zinc-900);
		--surface-color: var(--color-zinc-800);
		--popover-color: var(--color-zinc-700);

		--secondary-color: var(--color-zinc-700);
		--secondary-popover-color: var(--color-zinc-600);
		--secondary-hover-color: var(--color-zinc-600);
	}
}

@theme inline {
	--color-text: var(--text-color);
	--color-muted-text: var(--muted-text-color);

	--color-background: var(--background-color);
	--color-surface: var(--surface-color);
	--color-popover: var(--popover-color);

	--color-primary: var(--primary-color);
	--color-primary-hover: var(--primary-hover-color);
	--color-secondary: var(--secondary-color);
	--color-secondary-popover: var(--secondary-popover-color);
	--color-secondary-hover: var(--secondary-hover-color);
}

body {
	@apply bg-background text-text pointer-events-auto!;
}

/* improve scrollbar on chrome... */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
